<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
  <!-- <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo> -->
  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="right_wheel_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="left_wheel_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="front_right_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="front_left_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo>
    <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">

    <update_rate>50</update_rate>

    <left_joint>base_rightwheel_joint</left_joint>
    <right_joint>base_leftwheel_joint</right_joint>


    <command_topic>cmd_vel</command_topic>


    <publish_odom>true</publish_odom>
    <publish_odom_tf>true</publish_odom_tf>
    <publish_wheel_tf>true</publish_wheel_tf>
    <odometry_topic>odom</odometry_topic>
    <odometry_frame>odom</odometry_frame>
    <robot_base_frame>base_footprint</robot_base_frame>


    <wheel_separation>0.45</wheel_separation>      
    <wheel_diameter>0.1</wheel_diameter>          

    </plugin>
  </gazebo>  

  
  <gazebo>
    <plugin name="joint_one_controller" filename="libgazebo_ros_diff_drive.so">

    </plugin>
  </gazebo> 
</robot>
